{{define "title"}} Snip {{.Snip.ID}} {{end}}

{{define "main"}}
{{with .Flash}}
<div class="snip-statemessage">{{.}}</div>
{{end}}
{{with .Snip}}
<div class="snip">
    <div class="metadata">
        <div class="title">{{.Title}}</div>
        <div class="id">#{{.ID}}</div>
    </div>
    <div class="content">
        {{.Content}}
    </div>
    <div class="timestamps">
        <div class="created">
            Created on: {{humanDate .Created}}
        </div>
        <div class="expired">
            Expires on: {{humanDate .Expires}}
        </div>
    </div>
</div>
{{end}}
{{end}}